<h1>books</h1>

 <% @books.each do |book| %>
 <h2>Title:</h2>
 <p><%= book.title %></p>

 <h2>Body:</h2>
 <%= link_to "Show", book_path(book) %>
 <%= link_to "Edit", edit_book_path(book) %>
 <%= link_to "Destroy", book_path(book), method: :delete %>

 <p><%= book.body %></p>
 <% end %>
 
 <% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
 <% end %>

<h1>New book</h1>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <h4>Title</h4>
  <%= f.text_area :title %>
	
  <h4>Body</h4>
  <%= f.text_area :body %>
	
<%= f.submit 'Create Books'%>
  
  
<% end %>